export SecretAWSAccessKeyId=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
export SecretAWSSecretKey=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
export SecretROLLBAR_ACCESS_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
export SecretGEMNASIUM_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
export SecretSCRIPTS_USERNAME=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
export SecretSCRIPTS_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
export SecretMONKEY_LEARN_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX